@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Cuprum:ital,wght@1,500&display=swap');

body {
    background-color: #071e26;
    overflow: scroll;
    background-image: url('../images/closeup-fluorite.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

h1 {
    font-family: 'Advent Pro', sans-serif;
    padding-bottom: 2.5%;
}

h2 {
    font-family: 'Advent Pro', sans-serif;
    padding-bottom: 2%;
}

h4 {
    font-family: 'Advent Pro', sans-serif;
}

#logo {
    color: #fafafa;
    text-decoration: none;
    letter-spacing: 6px;
    text-shadow: 2px 2px #071e26;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #071e26;
    padding: 7.5px;
    border-radius: 5px;
    background: rgb(7, 30, 38, .4);
    margin-left: 25%;
    margin-right: 25%;
}

header a {
    color: inherit;
    text-decoration: inherit;
    font-size: 250%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.navigation {
    top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.navigation li {
    font-family: 'Advent Pro', sans-serif;
    list-style: none;
    display: inline;
    padding: 7.5px;
}

.navigation li a {
    color: #fafafa;
    text-decoration: inherit;
    font-size: large;
    text-align: center;
    padding: 5px;
    margin: 75px;
    border-radius: 5px;
    background: rgb(7, 30, 38, .4);
}

.navigation li a:hover {
    border-bottom: 2px solid #fafafa;
    box-sizing: border-box;
}

.about-crystals div {
    font-family: 'Advent Pro', sans-serif;
    border-radius: 5px;
    background: rgb(250, 250, 250, .8);
    box-sizing: border-box;
    font-size: large;
    margin-bottom: 2.5rem;
}

nav {
    margin-bottom: 7.5rem;
}

.about-crystals div p {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

#left-crystal-info {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

#right-crystal-info {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

#final-crystal-info {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-right: 10%;
    margin-left: 10%;
}

iframe {
    max-width: 100%;
}

#left-about-image {
    height: 150px;
    width: 150px;
    border: 1px solid #fafafa;
    border-radius: 50%;
}

.crystal-care {
    font-family: 'Advent Pro', sans-serif;
    border-radius: 5px;
    background: rgb(250, 250, 250, .8);
    box-sizing: border-box;
    font-size: large;
    margin-bottom: 7.5rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    padding-bottom: 5%;
}

.crystal-care h2 {
    text-align: center;
    padding-top: 5%;
}

.crystal-care p {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5%;
}

.crystal-care ul {
    list-style: none;
    padding: 0;
}

.crystal-care li {
    padding-bottom: 2%;
}

#crystal-care-image {
    height: 150px;
    width: 150px;
    border: 1px solid #fafafa;
    border-radius: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    color: #fafafa;
    text-align: center;
    font-size: x-large;
    z-index: 999;
    background: rgb(7, 30, 38, .8);
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline;
    padding-left: 10%;
    padding-right: 10%;
    float: none;
}

footer li a {
    color: #fafafa;
    padding: 7.5px;
    border-radius: 5px;
}

footer li a:hover {
    border: 3px solid #fafafa;
    box-sizing: border-box;
}

.newsletter-box {
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
    padding-bottom: 20%;
    padding-top: 2.5%;
}

.newsletter-box hr {
    border: 0;
}

#newsletter {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    border-radius: 5px;
    background: rgb(250, 250, 250, .8);
    font-size: large;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    display: block;
}

.submit-button {
    color: #fafafa;
    padding: 7.5px;
    border-radius: 5px;
    background: rgb(7, 30, 38, .4);
}

.submit-button:hover {
    border: 3px solid #fafafa;
    box-sizing: border-box;
}

.gallery-body {
    padding-bottom: 75px;
}

.gallery {
    border: 2px solid #fafafa;
    background: rgb(7, 30, 38, .4);
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
  }
  
.gallery img {
    width: 60%;
  }
  
.desc {
    font-family: 'Advent Pro', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: rgb(7, 30, 38, .4);
    color: #fafafa;
    width: 100%;
    margin-right: 10%;
  }

@media screen and (max-width: 1200px) {
    header a {
        font-size: 175%;
    }
    
    .navigation ul {
        padding: 0;
        list-style: none;
    }

    .navigation {
        top: 25px;
        margin-bottom: 25px;
    }
    
    .navigation li {
        display: inline-block;
        clear: none;
        top: 10px;
    }

    .about-crystals div {
        padding-left: 10%;
        padding-right: 10%;
    }

    .about-crystals div p {
        padding-left: 5%;
        padding-right: 5%;
    }

    #newsletter {
        font-family: 'Advent Pro', sans-serif;
        text-align: center;
        border-radius: 5px;
        background: rgb(250, 250, 250, .8);
        font-size: large;
        width: 100%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media screen and (max-width: 950px) {
    header a {
        font-size: 100%;
    }

    .navigation li {
        display: inline-block;
        clear: none;
        top: 10px;
        font-size: medium;
    }

    #left-about-image {
        height: 100px;
        width: 100px;
    }

    #newsletter {
        font-family: 'Advent Pro', sans-serif;
        text-align: center;
        border-radius: 5px;
        background: rgb(250, 250, 250, .8);
        font-size: large;
        width: 100%;
        padding-top: 75px;
        padding-bottom: 75px;
    }
}